
body {
    background: lightgray;
    background-image: url("images/background.jpg");
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

table {
    width: 100%;
    padding: 10px;
}
th {
    padding: 10px;
}

td:hover {
    color: blueviolet;
}

div {
    padding: 0 15px;
}

h1 {
    color: whitesmoke;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
}

audio {
    font-family: 'Montserrat', sans-serif;
}

input {
    margin: 10px;
}

#votesCounter {
    display: inline;
}